body {
    background-color: orange;
    color: purple;
    align-content: center;
}
/* Header */
header {
    color: purple;

}
header h1 {
    text-align: center;
    
}
header ul {
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 30px 20px 30px;
}
header li {
    display: inline;
}

header a {
    text-decoration: none;
    color:purple;
}
header a:hover {
    font-size: 120%;
}
/* Intro Page Styles */
.instruction {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.instruction h2 {
    text-align:center;
    margin: 0 0 10px 0;
}
.instruction p {
    text-align: center;
    margin:10px;
}
/* Quiz Body styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: 100%;
    
}

main li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    border: solid white;
    border-radius: 15px;
}

main li:hover{
    font-size: 120%;
}

.questions-form {
    border-style: ridge;
    background-position: 80%;
    padding: 5px 10px 5px 10px;
    text-align: center;
    margin-bottom: 20px;

}

.start-quiz p {
    text-align: center;
}

.choices {
    padding-inline-start: 0;
}

.buttons{
    display: flex;
    width: 60%;
    justify-content: center;
}

button {
    display: block;
    color: purple;
    background-color: grey(3, 12, 34);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border-color: purple;
    height: 40px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    color: rgb(77, 133, 206);
    font-size: 120%;
}

.high-score-form h3 {
    text-align: center;
    margin: 5px;
}

.high-score-form input {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(222, 215, 21, 0.06);
    border: none;
    width: 40%;
}

.high-score-form a {
    text-decoration: none;
    color: purple;
}

.high-score-form a:hover {
    font-size: 120%;
}

.scores-form {
    border-style: groove;
    display:flex;
    text-align: center;
    flex-direction: column;
    width:auto;
    border-radius: 10px;
    margin: 10% 30% 0 30%;
}
.scores-form h1 {
    margin-bottom: 0;
}

.scores-form p {
    margin-bottom: 0;
}

.scores-form ul {
    list-style-type: numbers;
    list-style-position: inside;
}

.scores-form li {
    padding: 2.5px;
}

.scores-form div {
    display:flex;
    justify-content: center;
}

.scores-form button {
    width:100px;
    margin-top: 0;
    margin-bottom: 20px;
}

.scores-form a {
    text-decoration: none;
}
